DBConnection/WebRoot/WEB-INF/wsdl/WSEditProfileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dbConnection/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEditProfileService" targetNamespace="http://dbConnection/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://dbConnection/" schemaLocation="WSEditProfileService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="EditProfile">
    <part element="tns:EditProfile" name="parameters"/>
  </message>
  <message name="EditProfileResponse">
    <part element="tns:EditProfileResponse" name="parameters"/>
  </message>
  <message name="EditAvatar">
    <part element="tns:EditAvatar" name="parameters"/>
  </message>
  <message name="EditAvatarResponse">
    <part element="tns:EditAvatarResponse" name="parameters"/>
  </message>
  <message name="EditTag">
    <part element="tns:EditTag" name="parameters"/>
  </message>
  <message name="EditTagResponse">
    <part element="tns:EditTagResponse" name="parameters"/>
  </message>
  <message name="UploadAvatar">
    <part element="tns:UploadAvatar" name="parameters"/>
  </message>
  <message name="UploadAvatarResponse">
    <part element="tns:UploadAvatarResponse" name="parameters"/>
  </message>
  <portType name="WSEditProfileDelegate">
    <operation name="EditProfile">
      <input message="tns:EditProfile"/>
      <output message="tns:EditProfileResponse"/>
    </operation>
    <operation name="EditAvatar">
      <input message="tns:EditAvatar"/>
      <output message="tns:EditAvatarResponse"/>
    </operation>
    <operation name="EditTag">
      <input message="tns:EditTag"/>
      <output message="tns:EditTagResponse"/>
    </operation>
    <operation name="UploadAvatar">
      <input message="tns:UploadAvatar"/>
      <output message="tns:UploadAvatarResponse"/>
    </operation>
  </portType>
  <binding name="WSEditProfilePortBinding" type="tns:WSEditProfileDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="EditProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="EditAvatar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="EditTag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UploadAvatar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSEditProfileService">
    <port binding="tns:WSEditProfilePortBinding" name="WSEditProfilePort">
      <soap:address location="http://localhost:8080/DBConnection/WSEditProfilePort"/>
    </port>
  </service>
</definitions>
